/* BLOCKS */
.block-bean {
    display: inline-block;
    width: 350px;
    padding: 15px;

    h2 {
        text-transform: uppercase;
    }
}
/*hero section */
.hero-section {
    .block-bean {
        width: 100%;
        padding: 0;
    }

    .container {
        margin-bottom: 0;
    }
    #block-bean-hero-image {
      color: $white;
    	h1 {
        font-size: 50px;
        margin-top: 80px;
        text-transform: uppercase;
      }
      .field-name-field-description {
        padding-bottom: 80px;
      }
      p {
        padding: 20px;
        width: 60%;
        text-align: center;
        margin: 0 auto;
        font-size: 18px;
      }
    }
}

.hero {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
/* event section */
.region-top-region {
  .event__list {
    span {
      color: $ligth-green;
      font-size: 20px;
    }
    .event__date {
      color: $dark-black;
      font-size: 20px;
      padding-left: 10px;
    }
  }
}
/*get involve */
#highlighted {
    h2 {
        text-align: center;
        text-transform: uppercase;
    }

    .field-name-field-image-bean-text {
        margin-bottom: 40px;
    }

    .field-name-field-title-box {
        font-family: $font-default;
        margin-bottom: 20px;
        font-size: 20px;
        text-transform: uppercase;
    }

    .field-name-field-text {
        font-family: $font-default;
        font-size: 14px;
    }
}

.field-name-field-block-link {
    margin-top: 30px;
    display: inline-block;
    padding: 10px;
    font-family: $font-default;
    width: 205px;
    text-transform: uppercase;
    border: solid 1px $ligth-blue;

    a {
        text-decoration: none;
    }
}
/* our mision */
#content {
    .block-bean {
        background: $white;
        width: 350px;
        border-radius: 5px;
        padding: 10px 20px;
        margin: 10px;
    }

    .field-name-field-image-bean-text {
        position: relative;
        border-radius: 50%;
        background: $white;
        width: 100px;
        display: inline-block;
        padding: 10px;
        bottom: 65px;
    }

    .field-name-field-title-box {
        margin-top: -55px;
        color: $blue-01;
        font-size: 18px;
        padding-bottom: 14px;
    }

    .field-name-field-text {
        padding-bottom: 30px;
        font-size: 14px;
    }
}

.mission__content {
    margin-bottom: 80px;
    color: $dark-purple;
}
/* slick slide */
.slick-slider {
    margin-bottom: 0;
}

.blog__title {
    font-weight: bold;

    a {
        text-decoration: none;
    }
}

#block-views-members-list-block {
    margin-bottom: 80px;
    display: block;
    padding-bottom: 80px;
    margin-top: 50px;
    padding-top: 40px;
    border-top: 1px solid $grey-02;

    .slick__slide {
        padding: 10px 50px 14px;
    }

    h2 {
        text-transform: uppercase;
    }

    .slick-dots li.slick-active button:before {
        color: $blue-01;
    }
}

.blog__content {
    margin-top: 10px;
    border-top: 1px solid $grey-01;
    border-bottom: 1px solid $grey-01;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}

.views-field-created {
    font-size: 14px;
    color: $purple-01;
}

#block-views-latest-post-block {
    background: $white;
    padding-top: 25px;
    padding-bottom: 5px;
    position: relative;
    margin-top: -186px;
    font-family: $regular-font;

    h2 {
        text-align: center;
        text-transform: uppercase;
        font-family: $font-default;
    }
    p {
      color: $purple-01;
    }

    .slick__slide {
        padding: 10px 60px 14px 80px;
    }
    .slick__arrow {
      margin-top: -14px;
    }
    .slick-prev:before {
      color: $ligth-green;
      content: "\f053";
      font-family: FontAwesome;
    }
    .slick-next:before {
      color: $ligth-green;
      content: "\f054";
      font-family: FontAwesome;
    }
    .slick-prev {
      left: 20px;
    }
    .slick-next {
      right: 20px;
    }
}

/* social icons */
.social__icon {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid $black-01;
  li {
    display: inline-block;
    font-size: 22px;
    padding-left: 10px;
    a {
      text-decoration: none;
      text-indent: -99999px;
      display: block;
      position: relative;
      margin-top: -30px;
      width: 20px;
      height: 20px;
    }
  }
  .icon__facebook:before {
    color: $ligth-green;
    content: "\f09a";
    font-family: FontAwesome;
  }
  .icon__twitter:before {
    color: $ligth-green;
    content: "\f099";
    font-family: FontAwesome;
  }
  .icon__gplus:before {
    color: $ligth-green;
    content: "\f0d5";
    font-family: FontAwesome;
  }
}
