/* GENERAL */
body {
	font-family: $font-default;
}

a,
a:visited {
	color: $linkColor;
}

a:hover {
	color: $linkHoverColor;
}

::-moz-selection {
	background: $selectionColor;
	text-shadow: none;
}

::selection {
	background: $selectionColor;
	text-shadow: none;
}
/* HEADINGS / TYPOGRAPHY */
h1,
h2,
h3,
h4 {
	font-weight: normal;
	margin: 0 0 10px;
}

h1 {}

h2 {
	font-size: 35px;
	color: $dark-black;
}

h3 {}

h4 {}
/* STRUCTURE */
.container {
	max-width: $pageWidth;
	margin: 20px auto;
}

.container__news {
	max-width: 1265px;
	margin: 20px auto;
}
/* HEADER */
header {
	width: 100%;

	#logo {
		display: inline-block;
	}

	.header-section {
		margin-top: 20px;
		margin-bottom: 0;
	}

	nav {
		display: inline-block;
		float: right;
		font-family: $font-default;
		text-transform: uppercase;
	}

	#main-menu {
		li {
			padding: 0 15px;
			font-size: 16px;
			color: #black-01;

			a {
				text-decoration: none;
			}

			&:last-child {
				border: solid 2px $green-01;
				padding: 10px 20px;
				a {
					color: $green-01;
					font-size: 17px;
				}
			}
		}
	}
}



.page__event {
	width: 100%;
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 20px;
	background: $grey-01;
}

.event__list {
	display: inline-block;
	float: left;
}

.btn__register {
	display: inline-block;
	float: right;
	background: $blue-01;
	padding: 10px 15px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: $white;
	border-radius: 2px;
}

.region-top-region {}

.region-highlighted {
	text-align: center;
	padding: 7px 0;
}

#content {
	padding: 20px 50px;
	background: $grey-01;
	padding-bottom: 60px;
	text-align: center;
}

.section__news {
	background: $black-02;
	padding-top: 5px;
	padding-bottom: 0;
	height: 187px;
}
/* MAIN */
#first-time {
	display: none;
}

#main {}
/* SIDEBAR */
aside {}
/* FOOTER */
footer {
	background: $dark-black;
	padding: 20px;
	text-align: center;
	p {
		color: $purple;
	}
}
