// responsive style

// Mobile Menu
.mean-container a.meanmenu-reveal span {
  background: $ligth-blue;
  cursor: pointer;

}
.mean-container a.meanmenu-reveal {
  color: $ligth-blue;
}

.mean-container .mean-bar {
  cursor: pointer;
  position: absolute;
  background: none;
  top: 15px;
}

// hero section
.hero-section {
  #block-bean-hero-image {
    @include bp(mobil){
      h1 {
        font-size: 30px;
        margin-top: 40px;
      }
      p {
        padding: 10px 20px;
        width: 90%;
        font-size: 14px;
      }
      .field-name-field-description {
        padding-bottom: 10px;
      }
    }
  }
}



.page__event {
  @include bp(mobil) {
    padding: 30px;
    .btn__register {
      float: left;
    }
    .event__list {
      span {
        font-size: 16px;
      }
      .event__date {
        font-size: 16px;
      }
    }
  }
}

#content {
  @include bp(mobil) {
  padding: 30px 0;
  .block-bean {
    margin-bottom: 70px;
   }
   #block-views-members-list-block {
     margin-top: 10px;
     margin-bottom: 120px;
   }
  }
}

// footer
.social__icon {
  @include bp(mobil){
    padding-left: 0;

  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 360px)
   {
    .block-bean {
      width: 300px;
    }
    #content  {
      .block-bean {
        width: 300px;
      }
    }
}



@media only screen
  and (min-device-width: 705px)
  and (max-device-width: 1066px)
   {
     .block-bean {
       width: 220px;
     }
     #content  {
       .block-bean {
         width: 220px;
         padding: 10px 10px;
         margin: 6px;
       }
     }

   }
