// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Structure
$pageWidth: 1120px;

// Text Selection
$selectionColor: orange;

// Links
$linkColor: #5bc0c3;
$linkHoverColor: #5bc0c3;

// colors
$white: #fff;
$dark-purple: #5a6175;
$purple-01:   #5b6172;
$purple:     #969eb6;
$dark-black: #454850;
$ligth-blue: #53c0d6;
$ligth-green: #5fc0c3;
$green-01: #61c0bd;
$blue-01:  #5dc0c9;
$black-01: #565659;
$black-02: #5d5e61;
$grey-01:  #f1f2f5;
$grey-02:  #d9dadd;
$grey:     #f2f2f2;



// fonts
$regular-font: 'Open Sans', sans-serif;
$font-default:'museo_sans500';
